body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
  background-color: #f3f5f6;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #1c9be9;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #f3f5f6;
  padding: 10px 15px;
  border: 3px solid #1c9be9;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  background: #1c9be9;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #275270;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }

  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}

/* pagination styles */
.pagination {
  margin: 40px 0 0 0;
  text-align: center;
}

.pagination ul li {
  display: inline;
  line-height: 70px;
  margin: 0.5rem;
}

.greyButton {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  font-weight: 700;
  font-size: 1em;
  color: #fff;
  background-color: #1c9be9;
}

.pagination .active,
.pagination button:hover {
  background-color: #275270;
}
/* Pagination styles --end */

/* Modal style */
.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
}

.modal {
  position: relative;
  width: 95%;
  height: 100%;
  margin: auto;
}

.modal-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  object-fit: cover;
  height: 75%;
  max-width: 75%;
}

.modal-left-btn,
.modal-right-btn,
.modal-close-btn {
  position: absolute;
  cursor: pointer;
  fill: white;
}

.modal-close-btn {
  top: 15px;
  right: 1%;
}

.modal-left-btn {
  top: 50%;
  left: 8%;
  zoom: 1.5;
}

.modal-right-btn {
  top: 50%;
  right: 8%;
  zoom: 1.5;
}
